
.padre {
    height: 100vh;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .hijo {
    
    width: 500px;
    height: 500px;
    border-style: groove;
    position: relative;
  }
  
  button{
  min-width: 200px;
    min-height: 50px;
    padding: 10px;
    display: block;
    border: none;
    border-style: groove;
  
  }
  .center{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .back{
    min-width: 50px;
    min-height: 20px;
  margin-top:75%;
    padding: 3px;
    margin-left: 20px;
    padding: 0;
     border: none;
      background: none;
font-size: 50px;
color: rgb(138, 138, 138);
  }
  .back:hover{
color: rgb(0, 0, 0);
  }

