<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <title>Document</title>
</head>
<body>


   <div class="container "  style="height: 100vh;">

    <div class="container-fluid margen" > 

        <p class="text-center  encabezado">Sistema Medico</p>
    </div>
  
    <div class="container " style="border-style: groove;" >
   


        <div class="row" style="height: 90vh;  ">
          <div class="col-2 " style=" border-right-style: groove;">


    <h5 class="text-center mt-3">Configuracion</h5>
<img src="https://cdn.pixabay.com/photo/2016/08/31/11/54/icon-1633249_960_720.png" class="imagen">
<h6 class="text-center mt-3">Dr Stephen Vincent Strange</h6>
<h6 class="text-center mt-3">Cedula: 182934567</h6>
          </div>
          <div class="col-10"  >
            <button class="b1">Paciente</button>
            <br>
            <button class="b2">Medico</button>

            <div class="recordatorios">
                <table class="table">
                    <thead>
                
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha y hora</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Asunto</th>
                      </tr>

                      
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>05/06/2022  10:50 am</td>
                        <td>Felipe Angeles Obrador</td>
                        <td>Revision resultados de laboratiorio</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>08/06/2022  11:35 am</td>
                        <td>Miguel Perez Lopez</td>
                        <td>Consulta de rutina</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>08/06/2022  11:35 am</td>
                        <td>Tony Stark Garcia</td>
                        <td>Evaluacion Preoperatorioa</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>


      </div>

   </div>
</body>
</html>